﻿@{
    ViewData["Title"] = "Pagina de Inicio";
}
<div class="text-center">
    <h1 class="display-4">Bienvenido a OmniWeb</h1>
</div>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">

</head>

<body>
    <!--Carucel-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img class="d-block w-100" src="https://www.cru.org/content/dam/cru/LAC/estudiantes/students51.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://ca-times.brightspotcdn.com/dims4/default/9b2031b/2147483647/strip/true/crop/1300x731+0+0/resize/1300x731!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F86%2F57%2Ffa6b2a5cebb175c63a6470b5a8a2%2Fhoyla-usa-el-distrito-escolar-de-l-a-anuncio-q-001" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://ca-times.brightspotcdn.com/dims4/default/c95d2d7/2147483647/strip/true/crop/1300x731+0+0/resize/1300x731!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F11%2F46%2F2f3deb0391a52686bea6947e44f5%2Fhoyla-lausd-establece-linea-de-ayuda-y-sitios-001" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://aprende.colombiaaprende.edu.co/sites/default/files/naspublic/orig_image/untitled_design3.jpg" alt="fourth slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://lh3.googleusercontent.com/cCfvuSPdsoyVQfMj6Fkw_HbKShjBBSd1LlMXJzfN1HJN3kF6opQUqnzEcYiDJic2reyjFqo-9-CSgGa2C-075CL7XSdnNMcMgw4HQdSWU14Xj0I4shQ5j5IQQuLTB_R46j7Ao8WWL6JL7BfMRkVVYoK6N-Q6WsHXh_bAHaQ2HZBRKrcF8AIKLCH6ONlC0SnUiXyDqwIOEcqykPvtjItxg9XcEEmGSk1Ey_vc4WV5vUSFR5QTITr-I6zKdPHqMaVyzDdv8Qzr4g30ywc0TCL-EvpdymK2Mm8v7Tdlr4mbjog1VrSXHvwhEHP5IXZffjj1gLqBgKPM4rexErMmzPQw__QAxylOXSTIpE8snLYtb1aaR4NGXk1d3eShnKRgGMjdBtGU2ee8c_d0FwOw2xmoJXkrBw5mBGfa4hIrJGM2UC3JVONd7bPasIFDiGS1Dx8_zKzJVWgELCqQ9PxgecY01qvflYe8oCe9iAY0MRLAGvfcQiwjZJ7u7SVcJmBnKZbqz6zDErjyjVkZc2ePoxhgCOYf7nk-FF5yOAbA01GdWK4eUob-C0rIaKn_id9ah8SsCEoGaqlQrgKln3VZP-pxOe18qeNiKUTCWD7QzTXNykb4prioIBthBxovjUn2ZY9lRcVeSmlZ-gR8LOLau5XmKjsJ7-Cda_fN7ShY_MUrBODlLrE3AjZfefWu=w1000-h621-no" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <h1 class="font-weight-light">Es para nosotros un gusto informarte.</h1>
                <p>Somos OmnyWeb la pagina mas actualizada a nivel educativo del pais, con la informacion actualizada, Total atencion a nuestros usuarios, Formas de pagos simples, Un sistema para ver calificaciones y mas.</p>
                <a class="btn btn-primary" href="https://localhost:44326/Home/Informacion">Mas informacion</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <!-- Call to Action Well -->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">Aqui podra ver algunas informaciones importantes!</p>
            </div>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Reglamento</h2>
                        <p class="card-text">Aqui podra ver las reglas institucionales y de que manera serian pagadas o el tipo de falta que es.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://localhost:44320/Home/Reglamento" class="btn btn-primary btn-sm">Mas Info!</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Two</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary btn-sm">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Three</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary btn-sm">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <!--Mapa de la empresa -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.4547161705!2d-69.99172198574277!3d18.508342674380135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf8a4e1589f873%3A0xcfb803384fe8ab20!2sAv.%20Monumental%2063%2C%20Santo%20Domingo!5e0!3m2!1ses!2sdo!4v1580608895923!5m2!1ses!2sdo" width="1082" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <br>
            <br>
            <br>
            <br>
            <div>
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Ubicacion.</h2>
                        <p class="card-text">Como podra ver nos encontramos localizados en Av.Monumental, Los girasoles, #63</p>
                        <p class="card-text">Telefono: 809-772-1025</p>
                        <p class="card-text">Dirrecion de Correo: Omniweb@Omni.com.do</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
        <br>
        <br>
        <br>
        <br>
        <table border="1">
            <tr>
                <td>
                    <strong>
                        <p class="card-text">
                            El ILS facilita el aprendizaje del idioma inglés para el público en general, a través de nuestro programa de Educación.

                            Luego de haber completado nuestro programa de inglés, el estudiante podrá  escribir, entender y hablar el idioma de manera correcta y fluida. El programa de inglés tiene 12 niveles en total. Puedes cursarlos de las siguientes maneras o modalidades: Súper Intensivo e Intensivo. Para las personas que ya tengan conocimientos, ofrecemos cursos de conversación.

                            SI TIENES CONOCIMIENTOS: Examen de nivel de inglés incluido y dependiendo del nivel que caigas, en ese te puedes inscribir. La duración dependerá del nivel en que se inicie.
                        </p>

                    </strong>
                </td>
            </tr>
        </table>
    </div>

    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; OmniWeb  2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

