﻿<Center><h1>Reglamento</h1></Center>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->

    <al>
    </al>
    <Center>
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="https://lh3.googleusercontent.com/cCfvuSPdsoyVQfMj6Fkw_HbKShjBBSd1LlMXJzfN1HJN3kF6opQUqnzEcYiDJic2reyjFqo-9-CSgGa2C-075CL7XSdnNMcMgw4HQdSWU14Xj0I4shQ5j5IQQuLTB_R46j7Ao8WWL6JL7BfMRkVVYoK6N-Q6WsHXh_bAHaQ2HZBRKrcF8AIKLCH6ONlC0SnUiXyDqwIOEcqykPvtjItxg9XcEEmGSk1Ey_vc4WV5vUSFR5QTITr-I6zKdPHqMaVyzDdv8Qzr4g30ywc0TCL-EvpdymK2Mm8v7Tdlr4mbjog1VrSXHvwhEHP5IXZffjj1gLqBgKPM4rexErMmzPQw__QAxylOXSTIpE8snLYtb1aaR4NGXk1d3eShnKRgGMjdBtGU2ee8c_d0FwOw2xmoJXkrBw5mBGfa4hIrJGM2UC3JVONd7bPasIFDiGS1Dx8_zKzJVWgELCqQ9PxgecY01qvflYe8oCe9iAY0MRLAGvfcQiwjZJ7u7SVcJmBnKZbqz6zDErjyjVkZc2ePoxhgCOYf7nk-FF5yOAbA01GdWK4eUob-C0rIaKn_id9ah8SsCEoGaqlQrgKln3VZP-pxOe18qeNiKUTCWD7QzTXNykb4prioIBthBxovjUn2ZY9lRcVeSmlZ-gR8LOLau5XmKjsJ7-Cda_fN7ShY_MUrBODlLrE3AjZfefWu=w1000-h621-no" alt="">
        </div>
        <br>
        <br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        Actos contrarios al buen
                        funcionamiento
                        De la institución
                    </th>
                    <th scope="col">
                        Posibles sanciones
                    </th>
                    <th scope="col">
                        Quienes las
                        aplicarán
                    </th>
                    <th scope="col">
                        Clasificación
                        de las faltas
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row">
                        Reuniones y/o
                        visitas en los
                        módulos de la
                        residencia
                        académica
                        entre varones y
                        hembras.
                    </th>
                    <td>
                        Separación del
                        cuatrimestre/trimestre
                        en curso.
                        No inscripción por uno o
                        más trimestres.
                        Separación definitiva de
                        la Institución.
                    </td>
                    <td>
                        Comité de
                        Disciplina
                    </td>
                    <td>Grave</td>
                </tr>
                <tr>
                    <th scope="row">
                        Entrada o salida
                        por ventanas de
                        cualquier área
                        de los edificios
                        de la institución
                        (Residencia
                        Académica,
                        Villa
                        Panamericana
                        y/o Plantel
                        educativo).
                    </th>
                    <td>
                        Separación del
                        cuatrimestre/trimestre
                        en curso.
                        No inscripción por uno o
                        más trimestres.
                        Separación definitiva de
                        la Institución.
                    </td>
                    <td>
                        Comité de
                        Disciplina
                    </td>
                    <td>
                        Grave
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Impedir
                        directamente la
                        buena marcha
                        de las distintas
                        actividades de
                        la Institución.
                    </th>
                    <td>
                        Separación del
                        cuatrimestre/trimestre
                        en curso.
                        No inscripción por uno o
                        más trimestres.
                        Separación definitiva de
                        la Institución.
                    </td>
                    <td>
                        Comité de
                        Disciplina
                    </td>
                    <td>Grave</td>
                </tr>
                <tr>
                <tr>
                    <th scope="row">
                        Violar las normas y
                        restricciones
                        establecidas por el
                        departamento de
                        tecnología de la
                        información y
                        comunicación (TIC).
                    </th>
                    <td>
                        -Amonestación.
                        -Separación temporal o
                        definitiva del
                        cuatrimestre.
                        Separación temporal o
                        definitiva de la carrera.
                        -Sometimiento Judicial.
                    </td>
                    <td>
                        Comité de
                        Disciplina
                    </td>
                    <td>
                        Grave
                    </td>
                </tr>

                <tr>
                    <th scope="row">
                        Hacer uso inadecuado
                        de los recursos
                        informáticos de la
                        institución
                        utilizándolos para
                        propósitos no
                        académicos.
                    </th>
                    <td>
                        Amonestación.
                        -Separación temporal o
                        definitiva del
                        cuatrimestre.
                        Separación temporal o
                        definitiva de la carrera.
                        -Sometimiento Judicial.
                    </td>
                    <td>
                        Comité de
                        Disciplina
                    </td>
                    <td>
                        Grave
                    </td>
                </tr>


                <tr>
                    <th scope="row">
                        Usar los servicios
                        informáticos de la
                        institución para
                        propósitos
                        fraudulentos
                    </th>
                    <td>
                        Separación temporal o
                        definitiva del
                        cuatrimestre.
                        Separación temporal o
                        definitiva de la carrera.
                        -Sometimiento Judicial.
                    </td>
                    <td>
                        Comité de
                        Disciplina
                    </td>
                    <td>
                        Moderada
                    </td>
                </tr>

                <tr>
                    <th scope="row">
                        Dar y/o recibir
                        información
                        durante una
                        evaluación
                    </th>
                    <td>
                        Anulación de la
                        evaluación
                        correspondiente.
                    </td>
                    <td>
                        Comité de
                        Disciplina
                    </td>
                    <td>
                        Leve
                    </td>
                </tr>

                <tr>
                    <th scope="row">
                        Vestimenta
                        inapropiada e
                        inadecuada
                        dentro de las
                        aulas y/o
                        laboratorios o
                        en actividades
                        académicas
                        representando a
                        la institución.
                        (Se considera
                        inapropiado e
                        inadecuado, el
                        uso de pantalones
                        cortos, camisetas
                        sin mangas, ropas
                        transparentes,
                        faldas muy cortas,
                        chancleta o
                        calipsos, gorras,
                        etc.)
                    </th>
                    <td>
                        Amonestación verbal, si
                        es reincidente se le
                        colocará una
                        amonestación por
                        escrito, la misma
                        quedará archivada en su
                        expediente.
                    </td>
                    <td>
                        Comité de
                        Disciplina
                    </td>
                    <td>
                        Moderada
                    </td>
                </tr>

                <tr>
                    <th scope="row">
                        Manifestaciones
                        de afectos de
                        forma
                        indecorosa
                        dentro del
                        plantel,
                        Residencia
                        Académica,
                        Villa
                        Panamericana o
                        en el
                        transporte.
                    </th>
                    <td>
                        Amonestación verbal, si
                        es reincidente se le
                        otorgará una
                        amonestación por
                        escrito, la misma será
                        anexada a su
                        expediente.
                    </td>
                    <td>
                        Comité de
                        Disciplina
                    </td>
                    <td>
                        Moderada
                    </td>
                </tr>

                <tr>
                    <th scope="row">
                        Conducta y
                        lenguaje
                        indecoroso
                        dentro del
                        plantel o fuera
                        del mismo en
                        actividades
                        académicas o vinculadas a la
                        Institución.
                    </th>
                    <td>
                        Amonestación verbal
                        y/o escrita.
                        Separación del
                        cuatrimestre/trimestre
                        en curso.
                        No inscripción por uno o
                        más cuatrimestres/
                        trimestres.
                        Separación definitiva de
                        la Institución a
                        cualquier miembro de la
                        comunidad estudiantil.
                    </td>
                    <td>
                        Comité de
                        Disciplina
                    </td>
                    <td>
                        Moderada
                    </td>
                </tr>

                <tr>
                    <th scope="row">
                        Sustracción o
                        intercambio de
                        exámenes
                        dentro del aula.
                        Copiar
                        exámenes o
                        trabajos
                        escritos.
                    </th>
                    <td>
                        Anulación de la
                        evaluación
                        correspondiente.
                    </td>
                    <td>
                        Comité de
                        Disciplina
                    </td>
                    <td>
                        Grave
                    </td>
                </tr>


                <tr>
                    <th scope="row">
                        Manejo y/o uso
                        de bebidas
                        alcohólicas,
                        cigarros de
                        cualquier tipo
                        dentro del
                        plantel.
                    </th>
                    <td>
                        Separación de uno o dos
                        cuatrimestres según lo
                        amerite el caso.
                        Separación definitiva de
                        la Institución a
                        cualquier miembro de la
                        comunidad estudiantil.
                    </td>
                    <td>
                        Comité de
                        Disciplina
                    </td>
                    <td>
                        Grave
                    </td>
                </tr>

                <tr>
                    <th scope="row">
                        Impedir
                        directamente la
                        buena marcha
                        de las distintas
                        actividades de
                        la Institución.
                    </th>
                    <td>
                        Separación del
                        cuatrimestre/trimestre
                        en curso.
                        No inscripción por uno o
                        más trimestres.
                        Separación definitiva de
                        la Institución.
                    </td>
                    <td>
                        Comité de
                        Disciplina
                    </td>
                    <td>
                        Grave
                    </td>
                </tr>

            </tbody>
        </table>

    </Center>


    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; OmniWeb  2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--Start of Tawk.to Script-->
    <!--End of Tawk.to Script-->
</body>

</html>


